{% extends 'index.html' %}

{% block title %}Текущая заявка{% endblock %}

{% block content %}
<p class="headline">Составление заявки №#{{id}} </p>
<div class="disability-list">
<div class="input-data">
    <div>
        <p>Телефон</p>
        <input class= "input-box" type="text" name="" placeholder="  7 ..." value={{data.first.disabilities_id.phone}}>
    </div>
    <div>
        <p>Адрес</p>
        <input class= "input-box" type="text" name="" placeholder="    Город, улица ..." value={{data.first.disabilities_id.address}}>
    </div>
</div>
<div class="">
    {% for patronage in data %}
        {% include 'disability_element.html' with element=patronage %}
    {% empty %}
        <p>Заявка удалена</p>
    {% endfor %}
</div>
<form action="{% url 'list-patronage_url' %}" method="post" style="background: none;">
    {% csrf_token %}
    <button type="submit" class="button-detail" id="button-del" name="del_button" value={{id}}>Удалить</button>
</form>
</div>
{% endblock %}
