<div class="disability-patronage">
    <img src={{element.patronage_id.img}} class="image" id="disability-img">
    <div style="height: 81px; width: 300px; margin-inline: auto;">
        <div class="patronage-title" id="disability-text" float: left;>
            <p>{{element.patronage_id.title}}</p>
        </div>
        <a href="{% url 'patronage_url' element.patronage_id.id %}"><button class="button-detail" id="disability-button-detail" type="button">Подробнее</button></a>
    </div>
    <div>
        <p>Коментарий</p>
        <textarea class="input-comment" type="text" placeholder="">{{element.comment}}</textarea>
    </div>
</div>
