{% extends 'index.html' %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <form action="{% url 'list-patronage_url' %}" method="get" class="search">
        <input class= "input-search" type="text" name="patronageName" placeholder="Поиск услуг" value="">
        <button class="button-search" type="submit">Найти</button>
        <a href="{% url 'disability_url' id_disability %}"  class="basket">
            <button class="basket" type="button">
                <img src="//127.0.0.1:9000/web-service/basket.png" class="basket"> 
                <p class="basket-num"> {{current_count}} </p> 
            </button>
        </a>
    </form>
    <p class="headline">Услуги нашего центра</p>
    <div class="list-patronage">
    {% for patronage in data.list_patronage %}
        {% include 'patronage_element.html' with element=patronage %}
    {% empty %}
        <p>Список пуст</p>
    {% endfor %}
    </div>
{% endblock %}